


.cl {
  clear: left;
}

#keyboard {
  padding: 10px 0;
}

.row0 {
  padding-left: 0px;
}
#up {
  margin-left: 205px;
}
#hold {
  margin-left: 50px;
}
.row1 {
  padding-left: 0px;
}
.row2 {
  padding-left: 0px;
}
.row3 {
  padding-left: 0px;
}
.row4 {
  padding-left: 20px;
}

.nokey {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  background-color: black;
  color: white;
  text-align: center;
  float: left;
  width: 48px;
  height: 50px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  background-color: black;
  color: white;
  text-align: center;
  float: left;
  width: 48px;
  height: 50px;
}

.lshift, .rshift {
  width: 60px;
}

.enter {
  background-color: white;
  color: black;
  width: 60px;
}

.space {
  width: 237px;
}

.break, .clear {
  font-size: 10px;
}

.arrow {
  font-family: monospace;
  color: orange;
  font-size: 24px;
  font-weight: bold;
}

.shiftdown {
  background-color: #444444;
}

.holddown {
  background-color: #444444;
}

.on {
  background-color: #444444;
}
